<div class="fondo">
  <div class="opacidad">
    <nav>
      <img src="assets/images/logo.png">
      <div class="login">
        <div class="login-wrapper">
          <span>
            ¿Ya tienes cuenta? <a routerLink="/login" href="#"> Inicia sesión </a>
          </span>
        </div>
      </div>
    </nav>
    <div style="text-align:center; padding-bottom: 80px;">
      <span class="poder">
      <p> 
        El poder del Networking al alcance de tus manos
      </p>
    </span>
      <span class="somos">
      <p>
        Somos una plataforma digital que ayuda a crear<br>
        vínculos entre proveedores y clientes a través de una red de contactos
      </p>
    </span>
      <button type="button" routerLink="/signup" class="bb-button" md-raised-button>Únete</button>
    </div>
  </div>
</div>

<p style="margin-top: 64px;  margin-bottom: 38px; height: 58px; font-family: oxigenRegular; font-size: 32px; text-align: center; color: #4d4d4d;">
  Ventajas de trabajar con BB6ix
</p>

<div class="ventajas">
  <div class="crece">
    <img src="assets/images/icon-marca.png" alt="">
    <p style="font-family:oxigenBold; color: #4d4d4d">Crece tu negocio</p>
    <p style="font-family:muliRegular; color: #666666">Incrementa tus ventas a través de <br>nuesta red de clientes que <br>necesitan tus servicios</p>
  </div>

  <div class="proveedores">
    <img src="assets/images/icon-confianza.png" alt="">
    <p style="font-family:oxigenBold; color: #4d4d4d">Proveedores de confianza</p>
    <p style="font-family:muliRegular; color: #666666">Encuentra proveedores calificados <br>y recomendados por gente<br> cercana a tu red de contactos.</p>
  </div>

  <div class="crea">
    <img src="assets/images/icon-red.png" alt="">
    <p style="font-family:oxigenBold; color: #4d4d4d">Crea tu red</p>
    <p style="font-family:muliRegular; color: #666666">Posiciona tu marca y servicios en <br>tu red, generando mayor impacto <br>a tu negocio en ventas.</p>
  </div>

</div>
<!--
<div class="testimonios" style="padding-top: 1px; padding-bottom: 62px; width: 100%; background-color: #6584fb; text-align:center;">
  <p style="margin-top: 64px; margin-bottom: 23px; height: 58px; font-family: oxigenRegular; font-size: 32px;  text-align: center;  color: #ffffff;">
    Testimonios
  </p>
  <img style="margin: 1em;" src="assets/images/chica-2-copy-2.png" alt="">
  <p style="width: 694px; height: 89px;margin: 0 auto; font-family: muliItalic;  font-size: 28px;  text-align: center;  color: #e6f7f8;">
    “¡Mi encuentro con Tom fue genial!, definitivamente seguiremos en contacto. Gracias Tom”
  </p>
  <p style="margin: 1em; font-family: muliRegular;  font-size: 18px;  text-align: center;  color: #e6e6e6;
  ">
    Miguel Arellano
  </p>

</div>
-->
<div class="testimonios" style="padding-top: 1px; padding-bottom: 62px; width: 100%; background-color: #6584fb; text-align:center;">
  <p style="margin-top: 64px; margin-bottom: 23px; height: 58px; font-family: oxigenRegular; font-size: 32px;  text-align: center;  color: #ffffff;">
    Testimonios
  </p>
  <div id="container">
    <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="1350" [$prev]="prev" [$next]="next" [$item]="item">
    </div>


    <ng-template #prev>
      <img src="assets/images/left-arrow.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right-arrow.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">

      <div class="items">
        <img src="{{ item.name }}">
        <div style="width: 1350px;">
          <p style="width: 771px; height: 89px;margin: 0 auto; font-family: muliItalic;  font-size: 28px;  text-align: center;  color: #e6f7f8;">
            {{item.testimonio}}
          </p>
        </div>
        <p style="margin: 1em; font-family: muliRegular;  font-size: 18px;  text-align: center;  color: #e6e6e6;">
          {{item.nombre}}
        </p>
      </div>

    </ng-template>
  </div>
</div>


<button md-raised-button class="md-raised md-primary go-top" (click)="onEdit()">
  <img src="assets/images/subir.png" >
</button>


<div class="soy-proovedor">
  <div routerLink="/signup" class="soy_p">
    <p id="soy">Soy Proveedor</p><br>
    <p id="description">Quiero crecer mi negocio y quiero <br>hacer crecer mi reputación.</p>
  </div>

  <div class="imagen-p">
  </div>


</div>

<div class="soy-cliente">
  <div routerLink="/signup" class="soy_c">
    <p id="soy">Soy Cliente</p><br>
    <p id="description">Busco proveedores confiables para<br> hacer crecer mi negocio.</p>
  </div>
  <div style="background-color: rgba(163, 232, 246, 0.3);" class="imagen-c">
  </div>
</div>




<footer>
  <div class="wrapper-footer" style="display:flex; justify-content:space-around; padding-top: 5%; width:100%; padding-bottom: 42px;">
    <div style="cursor: pointer; display: flex; align-items: center;" routerLink="/terms">
      <p style="font-family:muliRegular; color: #4d4d4d;">
        Términos y condiciones
      </p>
    </div>
    <div style="cursor: pointer; display: flex; align-items: center;" routerLink="/privacy">
      <p style="font-family:muliRegular;color: #4d4d4d;">
        Política de privacidad
      </p>
    </div>
    <div (click)="openDownloadDialog()" class="download">
      <img src="assets/images/descarga-appstore.png" alt="">
      <img src="assets/images/descarga-google.png" alt="">
    </div>
    <div class="social">
      <div class="social-wra">

        <a href="https://www.facebook.com/BB6ixNetworking">
          <div class="fb-footer"></div>
        </a>
        <a href="https://twitter.com/BB6ix_com?lang=es">
          <div class="tt-footer">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div style="display:flex; justify-content:center; font-family:muliRegular; color: #4d4d4d; font-size: 14px; padding-bottom: 12px;">
    © 2017 BB6ix Todos los derechos reservados.
  </div>

</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" />
<script src="https://unpkg.com/slick-carousel@1.6.0/slick/slick.js"></script>